<nav>
    <div class="site-title">
        <a><h1>Blog Desu</h1></a>
        <p>a desu site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a>
       <li> <a href="/about">about page</a></li>
       <li> <a href="/blogs/create">New Blogs</a></li>
    </ul>
    </nav>