<!DOCTYPE html>
<html lang="en">
    <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog desu | <%= title %></title>
</head> -->
    <%- include('./partials/head.ejs') %>
<body>
    <h1>About</h1>
       <!-- <nav>
        <div class="site-title">
            <a><h1>Blog Desu</h1></a>
            <p>a desu site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a>
           <li> <a href="/about">about page</a></li>
           <li> <a href="/blogs/create">New Blogs</a></li>
        </ul>
        </nav> -->
    <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About as</h2> 
            <p>ashgdsj safsdjhfj jhfsdjh sajksfyu jfjimn sdaythfbn </p>
            <p>ahdshf gchfjdkkjg dhjfdkjjncjkvhfj </p>
            <p>xcjfjdg mvdkfjhfjh hkfghjkfgkfgnnkbjkj</p>
         </div>
         <%- include('./partials/footer.ejs') %>
</body>
</html>